.id {
    font-size: 16px;
  }
  
  .issueDate {
    font-size: 16px;
    font-weight: 600;
  }
  
  .localisation {
    font-size: 16px;
    font-weight: 500;
  }
  
  .patient {
    font-size: 16px;
    font-weight: 500;
  }
  
  .contact {
    font-size: 16px;
  }
  
  .buttonsCell {
    display: flex;
  }
  
  .buttonsBox {
    display: flex;
    justify-content: space-between;
    width: 85%;
  }
  
  .buttonsSection {
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
  
    @media (max-width: 1620px) {
      display: none;
    }
  }
  
  .threeDotsButton {
    display: none;
  
    @media (max-width: 1620px) {
      display: flex;
    }
  }
  
  .row td {
    @media (max-width: 1400px) {
      padding: 20px 3px 3px 3px;
      font-size: 14px;
    }
  }
  .continueButton {
    color: #f4f4f4;
    display: flex;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 13px 24px;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    gap: 12px;
    border-radius: 10px;
    background: #0068ff;
  }
  
  .continueButton:hover {
    background: #0055cc;
  }
  
  .continueButton:disabled {
    display: inline-flex;
    height: 50px;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #d6d7db;
    background: none;
  }